<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480217212993-fctoqstaa1gjc8e9epldne8e9hnu1a8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480217212993-fctoqstaa1gjc8e9epldne8e9hnu1a8a</string>
	<key>API_KEY</key>
	<string>AIzaSyDCohT3jQtb2eSyh_lC89Yvz3ZfjqUqtfk</string>
	<key>GCM_SENDER_ID</key>
	<string>480217212993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Stockify</string>
	<key>PROJECT_ID</key>
	<string>striped-buckeye-311502</string>
	<key>STORAGE_BUCKET</key>
	<string>striped-buckeye-311502.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480217212993:ios:ec9396f0440b06d904fec0</string>
</dict>
</plist>